.design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
  background: #ece8d5;
}

.design-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
}

.design-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  align-self: stretch;
  max-width: 655px;
}

@media only screen and (max-width: 992px) {
  .design-content {
    flex-direction: column;
  }

  .design-card {
    margin: 0;
    max-width: none;
  }
}
