.card-title {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 112%;
    color: #000000;
    align-self: stretch;
    margin: 10px 0px;
}