.image-title {
    font-family: Sarabun;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 145%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #03313B;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}