.page-title {
    font-family: 'Special Elite';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 112%;
    text-align: center;
    color: #000000;
    margin: 0px 0px;
}