.title {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.main {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  margin: 0px 0px 24px;
}

.sub {
  font-size: 28px;
  line-height: 31px;
  align-self: stretch;
  margin: 10px 0px;
}

@media only screen and (max-width: 992px) {
  .main {
    margin: 0;
  }
}
