.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ECE8D5;
  gap: 30px;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 40px 0;
  }
}

.page h1{
  font-family: Special Elite;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 112%;

  text-align: center;

  color: #000000;
  margin: 0;
}

/* Storybook override */
.sb-show-main.sb-main-padded{
  padding: 0;
}