.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

@media (max-width: 768px) {
  .container{
    flex-direction: column;
    gap: 20px;
  }
}